@media(max-width:480px){
   .main{
    display: flex;
   
    flex-wrap: wrap;
    height: auto;
   }





}
@media(min-width:481px) and(max-width:767px)
{
    .main{
     display: flex;
     flex-wrap: wrap;
   
     
    }
    .box1{
        width: 50%;
    }
    .box2{
        width: 50%;
    }
 
 
 
 
 
 }
 